.container {
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 20px auto 0px auto;
  max-width: 700px;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
}

.link-today,
.link-tomorrow,
.link-5days {
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
  padding: 10px;
}
.link-ccity {
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
  padding-top: 10px;
  margin-left: -220px;
}
.entrance {
  padding-left: 20px;
  padding-right: 100px;
}
.search {
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 20px;
}
#entered-city {
  font-size: 42px;
  padding-top: 30px;
  text-align: left;
  font-weight: bolder;
  padding-left: 20px;
  color: rgb(0, 110, 197);
}
.conditions {
  list-style: none;
  text-align: left;
  padding-left: 10px;
  padding-top: 20px;
  font-size: 16px;
  font-weight: normal;
}

.condition2 {
  color: black;
  font-size: 14px;
  padding-left: 0px;
}
.emoji2 {
  text-align: right;
  padding-top: 40px;
}
#description {
  align-items: center;
  padding-top: 70px;
  padding-right: 10px;
  font-weight: bold;
  text-transform: capitalize;
}
.first {
  padding-left: 10px;
  padding-bottom: 40px;
  text-align: center;
}
.third {
  bottom: -30px;
}
.degrees {
  color: rgb(0, 110, 197);
  font-weight: bolder;
  text-align: center;
  padding-left: 5px;
}
.degrees .active {
  color: rgb(0, 110, 197);
  cursor: default;
}
#temperature {
  font-size: 100px;
  top: -60px;
}
.units {
  font-size: 40px;
  position: relative;
  color: #0d6efd;
  top: -42px;
  font-weight: normal;
}
#celsius-link,
#fahrenheit-link {
  text-decoration: none;
}
.feels-like {
  font-size: 14px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: normal;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 0px;
}
.hourly1,
.hourly2,
.hourly3,
.hourly4,
.hourly5 {
  font-size: 8px;
  text-align: center;
}
.weather-forecast-hour {
  color: rgb(0, 110, 197);
}
.daily1,
.daily2,
.daily3,
.daily4,
.daily5 {
  font-size: 10px;
  text-align: left;
  padding: 0 0 0 0;
  padding-top: 22px;
}
.weather-forecast-day {
  text-align: center;
  font-size: 13px;
  padding-top: 0px;
  padding-right: 10px;
  color: rgb(0, 110, 197);
}
.hourly-link {
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
  padding-top: 20px;
}
.bottom-time {
  text-align: right;
  padding-right: 34px;
  padding-top: 20px;
}
small {
  text-align: center;
  display: block;
}
